<div class="container">
	<form action="/getRate" method="get">
		<div class="input-group mb-3">
  			<div class="input-group-prepend">
    			<label class="input-group-text" for="weight">Weight Not Over (oz.):</label>
  			</div>
  			<select class="custom-select" name="weight" id="weight">
    			<option selected>Choose...</option>
    			<option value="1">1</option>
    			<option value="2">2</option>
    			<option value="3">3</option>
    			<option value="3.5">3.5</option>
    			<option value="4">3</option>
    			<option value="5">5</option>
    			<option value="6">6</option>
    			<option value="7">7</option>
    			<option value="8">8</option>
    			<option value="9">9</option>
    			<option value="10">10</option>
    			<option value="11">11</option>
    			<option value="12">12</option>
    			<option value="13">13</option>
  			</select>
		</div>

		<div class="input-group mb-3" visibility="hidden">
  			<div class="input-group-prepend">
    			<label class="input-group-text" for="type">Retail First-Class Mail Type:</label>
  			</div>
  			<select class="custom-select" name="type" id="type">
    			<option selected>Choose...</option>
    			<option value="letters-stamped">Letters (Stamped)</option>
    			<option value="letters-metered">Letters (Metered)</option>
    			<option value="large-envelopes-flats">Large Envelopes (Flat)</option>
    			<option value="parcels-oz">First-Class Package Service—Retail</option>
  			</select>
		</div>

		<input type="submit">
	</form>	
</div>