<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Postage Rate</title>
</head>
<body>
	<h1>Postage Rate</h1>
	<p>Type: <%= type %></p>
	<p>Weight: <%= weight %> ounces</p>
	<p>Rate: $<%= rate %></p>
</body>
</html>
